nav ul li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}
a:hover{
    text-decoration: underline;
}
ul ul {
    display: none;
}

nav ul li:hover ul{
    display: block;
}

nav ul li ul li {
    color: lightgrey;
}