body {
    background: grey;
    padding: 5px;
}
h1{
    color: lightgoldenrodyellow;
}
header{
    text-align: center;
}
li{
    list-style: none;
}
li > a {
    text-decoration: none;
    color: white;
}
li:last-of-type{
    text-decoration: underline;
    text-decoration-color: white;
    /* ^ ??? FireFox-a ??? ?????? ????? ?? ???????????, ??????? ????? ?????, ?????? ?????? ?? ? ? ????.
    ????????? ???? ? ??? ???? ??? ?? windows 10, ? Project Spartan ???? ? ?? ??? ?? ????????? ? ????, ??? ???? ? ????? ??? */
}
.current {
    background: lightgrey;
}
p > a{
    text-decoration: none;
    color: black;
}
body > footer:last-of-type{
    text-align: center;
}


